/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* color palette: https://colorhunt.co/palette/698269b99b6bf1dbbfaa5656 */
  --vintage-sage: #698269;
  --vintage-brown: #B99B6B;
  --vintage-beige: #F1DBBF;
  --vintage-maroon: #AA5656;

  /* color palette: https://colorhunt.co/palette/2d4356435b66a76f6feab2a0 */
  --halloween-navy: #2D4356;
  --halloween-navy-light: #435B66;
  --halloween-peach-dark: #A76F6F;
  --halloween-peach: #EAB2A0;

  /* color palette: https://colorhunt.co/palette/22a699f2be22f29727f24c3d */
  --retro-red: #F24C3D;
  --retro-orange: #F29727;
  --retro-yellow: #F2BE22;
  --retro-green: #22A699;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vintage-beige);

  --color-border: var(--halloween-peach-dark);
  --color-border-hover: var(--halloween-peach);

  --color-text: var(--halloween-navy);

  --color-error: var(--retro-red);
  --color-warning: var(--retro-orange);
  --color-success: var(--retro-green);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--halloween-navy);

    --color-border: var(--halloween-peach-dark);
    --color-border-hover: var(--halloween-peach);

    --color-text: var(--vintage-beige);

  --color-error: var(--vintage-maroon);
  --color-warning: var(--vintage-brown);
  --color-success: var(--vintage-sage);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
